{% extends "base.html" %}

{% block title %}{% endblock %}
{% block script %}{% endblock %}

{% block content %}
    <img src="{{ spam.avatar }}"/>
    <p>Name: {{ object.name }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Contacts: {{ object.contacts }}</p>

    <p>Screen name: {{ object.screen_name }}</p>
    <p>ID: {{ object.social_id }}</p>
    <p>Type: {{ object.type }}</p>
    <p>Albums:</p>
    {% for album in albums %}
        <!-- TODO: album link a href="http://vk.com/{{ object.social_id }}{{album.id" -->
        <p>Title: {{ album.title }}</p>
        <p>Description: {{ album.description }}</p>
    {% endfor %}
    <a href="/manager/makesite/{{ object.pk }}" class="but but-success">Make</a>
{% endblock %}
