{% extends "base.html" %}

{% block title %}{% endblock %}
{% block script %}{% endblock %}

{% block content %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Spams</div>

    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        {% for spam in object_list %}
        <tr>
            <td>{{ spam.pk }}</td>
            <td>{{ spam }}</td>
            <td><a href="{% if source.site %}{{ spam.site.url }}{% else %}#create_site{% endif %}">View Site</a></td>
            <td><a href="/manager/detail/{{ spam.pk }}" >Edit Spam</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}