<p>User's name and surname: {{ user.first_name }} {{ user.last_name}}</p>
<p>Username: {{ user.username }}</p>
<p>E-mail: {{ user.email }}</p>
<p>E-mail: {{ user.code }}</p>
<a href="/logout">Logout</a>