<!DOCTYPE html>
{% load staticfiles %}
<html>
<title>
    {% block title %}
    Site Dealer
    {% endblock %}
</title>
<head lang="en">
    <meta charset="UTF-8">
    <title>Site Dealser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_css %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-progressbar-3.2.0.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block head_script %}
<script src="{% static 'js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap-lightbox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap-progressbar.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    if (!String.prototype.format) {
        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function (match, number) {
                return typeof args[number] != 'undefined'
                        ? args[number]
                        : match
                        ;
            });
        };
    }
</script>
{% endblock %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Site Dealer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/deals">Deals</a></li>
                <li><a href="/accounts/logout">Log out</a></li>
            </ul>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
{%block script %}{% endblock %}
</body>
</html>

