{% extends 'dynamic_models/base.html' %}
{% load dynamic_tags %}

{% block content %}
{% csrf_token %}
  <div class="row">
    <div class="four columns">
      {% dynamic_tabs %}
    </div>
    <div class="eight columns">
      <table id="model_list">
      </table>
    </div>
  </div>

  {% block extrajs %}

  {% endblock %}

{% endblock %}
